/* ✅ tailwindcss를 사용하기 위한 초기 설정을 진행하신 후에 과제를 진행해 주세요. */

/* App.jsx에서 tailwindcss를 사용하여 적용한 후 주석처리 하여 결과를 확인합니다. */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 40px;
}

/* Header.jsx에서 tailwindcss를 사용하여 적용한 후 주석처리 하여 결과를 확인합니다. */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
}

.header-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ul li {
  list-style: none;
  font-weight: 400;
  font-size: 13px;
}

/* Content.jsx 에서 tailwindcss를 사용하여 적용한 후 주석처리 하여 결과를 확인합니다. */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.content-container img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 3px;
}

.content-container span {
  font-size: 12px;
  color: #d7fa00;
  border: 1px solid #d7fa00;
  padding: 4px 5px;
  border-radius: 3px;
}

.content-container div {
  font-size: 18px;
  font-weight: 600;
}

.content-container p {
  font-size: 12px;
  color: rgb(160, 160, 160);
}
